##############
#  NAME BIN  #
##############

my_world
.vscode
.idea



###############
#    FLAGS    #

*.o
*.~
*.#
*.a
*.gch
a.out
.idea
*.class
*.dll
*.exe

############
# Packages #

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

######################
# Logs and databases #

*.log
